CI_ENVIRONMENT = development

app_baseURL = 'http://localhost:8080/'

database.default.hostname = localhost
database.default.database = gestion_produits
database.default.username = root
database.default.password =
database.default.DBDriver = MySQLi
database.default.DBPrefix =
database.default.port = 3306

JWT_SECRET = 'a_remplacer_par_une_cle_locale'
